.primary-button {
    color: $main-bg-color;
    background-color: $accent-color;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-decoration: none;

    display: inline-block;
    margin-top: 30px;
    text-align: center;
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
}

.button {
    background-color: $secondary-bg-color;

    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    display: inline-block;
    text-align: center;
    border: none;
    padding: 6px 22px;
    cursor:pointer;

    transition: $animation-duration $animation-type;

    &:hover,
    &:focus {
        color: $main-bg-color;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}


.button-element:not(:last-child) {
    margin-right: 8px;
}

.sort-buttons {
    padding-top: 94px;
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 200px;
    margin-left: 0;
    margin-top: 36px;

    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor:pointer;
}

.footer-button > p {
    font-family: $first-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    margin-right: 10px;

    color: $main-bg-color;
}

.button-closer {
    position:absolute;
    display: inline-block;
    top: 0;
    right: 0;

    margin-right: 8px;
    margin-top: 8px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $main-bg-color;
    cursor: pointer;
    z-index: 1;

    &:focus-within .closer-icon,
    &:hover .closer-icon {
    fill:$accent-color;
}
}
