.list-clients {
    display: flex;
    flex-wrap: wrap;
}

.clients .container-title {
    margin-bottom: 30px;
}

.clients .list-element {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 90px;
    border: 1px solid $first-icon-color;
    border-radius: 4px;
    margin-right: -15px;
    margin-bottom: -15px;
    
    background-color: $main-bg-color;

    cursor:pointer;

    transition: border $animation-duration $animation-type;

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }

    &:hover .icon-client,
    &:focus .icon-client {
        color: $accent-color;
    }

    @media screen and (min-width: 480px) {
        width: calc((100% - 4 + 15px) / 2);
        margin-right: 15px;
        margin-bottom: 15px;
    }

    @media screen and (min-width: 780px){
        width: calc((100% - 6 + 15px) / 3);
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

.icon-client {
    fill: currentColor;
    color: $first-icon-color;
    transition: color $animation-duration $animation-type;
}
