header {
    border-bottom: 1px solid #ECECEC;
}

.container.header {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 80px;

}

nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
    list-style-type: none;

    .link {
        position: relative;
        display: flex;
        align-items: center;
        color: $main-text-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        margin-right: 50px;
        height: 80px;
    
        transition: color $animation-duration $animation-type;

        &:hover,
        &:focus {
            color: $accent-color;
        }

        &::after {
            position: absolute;
            content:"";
            display: flex;
        
            left: 0;
            bottom: 0;
        
            width: 100%;
            height: 4px;
            background-color: $accent-color;
            border-radius: 2px;
        
            transform: scaleX(0);
            transition: transform $animation-duration $animation-type;
        }

        &:hover::after {
            transform: scaleX(1);
        }

        &:focus::after {
            transform: scaleX(1);
            background-color: $accent-color; 
        }
    }
}

.current-color.link {
    color: $accent-color;

    &::after {
        transform: scaleX(1);
    }
}

.header-address {
    display:flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    margin-left: auto;
}

.contact {
    color: $secondary-text-color;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color $animation-duration $animation-type;

    &:not(:last-child) {
        margin-right: 50px;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}