.footer-address {
    margin-right: 70px;

    p {
        display: block;
    
        color: $main-bg-color;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    
        margin-top: 20px;
        margin-bottom: 9px;
    }

    a {
        display: block;
        margin-bottom: 9px;
    }
}

footer {
    background-color: $third-bg-color;

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-nav {
    display: flex;  
    justify-content: space-between;
}

.container-beactive {
    display:flex;
    align-items: flex-start;
    margin-top: 12px;
}

.footer-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-bg-color;

    margin-bottom: 20px;
}

.container-social {
    margin-right: 93px;

    .social-element {
        background-color: rgba(255, 255, 255, 0.1);
    
        transition: background-color $animation-duration $animation-type;
    
        &:hover,
        &:focus {
            background-color: $accent-color;
        }
    }
}

.container-subscribe {
    display: flex;
    flex-direction: column;
}

.text-subscribe {
    font-family: $first-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $main-bg-color;
}


.footer-input::placeholder {
    display: flex;
    align-items: center;
    font-family: $first-text-style;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.03em;

    background-color: $third-bg-color;
    opacity: 0.6;
    
}

.footer-input {
    height: 50px;
    width: 358px;
    margin-top:20px;
    margin-right: 12px;
    padding-left: 16px;

    color: $main-bg-color;

    background-color: $third-bg-color;

    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: $animation-duration $animation-type;

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}
