.container.footer{
    text-align: center;
    background-color: $third-bg-color;
}

.logo-footer {
    color: $main-bg-color;
    font-family: $second-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-address p {
    font-family: $first-text-style;
    color: $main-bg-color;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 20px;
}

.contact {
    display:block;
    
    font-family: $first-text-style;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $contact-color;
}

.footer-address .contact {
    padding-top: 8px;
}

.footer-nav {
    margin-bottom: 60px;
}

.footer-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-bg-color;

    margin-bottom: 20px;
}

.container-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-subscribe {
    font-family: $first-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $main-bg-color;
}

.container-beactive .social-element {
    background-color: $second-icon-color;
    
    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.container-beactive .icon-social {
    color: $main-bg-color;
    transition: color $animation-duration $animation-type;

    &:hover,
    &:focus {
        color: $main-bg-color;
    }
}

.footer-input::placeholder {
    display: flex;
    align-items: center;
    font-family: $first-text-style;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.03em;

    background-color: $third-bg-color;
    opacity: 0.6;
}

.footer-input {
    height: 50px;
    width: 450px;
    margin-top: 20px;
    padding-left: 16px ;

    color: $main-bg-color;

    background-color: $third-bg-color;

    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: $animation-duration $animation-type;

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 200px;
    margin-top: 20px;

    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor:pointer;

    font-family: $first-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: $main-bg-color;

    & .icon-send {
        margin-left: 10px;
    }
}

.footer-links {
    display: block;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

