header {
    border-bottom: 1px solid #ECECEC;
    position: relative;
}

.container.header {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 480px;
    height: 60px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        height: 80px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        height: 80px;
    }
}

.logo-header {
    color: $main-text-color;
    font-family: $second-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }
}

.logo-web {
    color: $accent-color;
    font-family: $second-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
