header {
    border-bottom: 1px solid #ECECEC;
}

.container.header {
    display: flex;
    align-items: center;
    width: 480px;
    height: 60px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }
}

.menu-link {
    display: block;
}

.logo-header {
    color: $main-text-color;
    font-family: $second-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-web {
    color: $accent-color;
    font-family: $second-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

nav {
    display: none;
}

.site-nav {
    display: none;
}

.header-address {
    display: none;
}