.container.qualities {
    padding-bottom: 30px;
}

.list.qualities {
    display: block;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100% - 4 * 15px) / 2);
    }
}

@media screen and (min-width: 768px) {
    .qualities .list-element:nth-child(2n+1) {
        margin-right: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .qualities .list-element {
        margin-right: 30px;
    }
    .qualities .list-element:nth-child(4n) {
        margin-right: 0px;
    }
}

.qualities .list-element:not(:last-child) {
    padding-bottom: 30px;
}

.qualities-icon {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-color: $secondary-bg-color;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}
        
.qualities-text {
    width: 450px;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.qualities-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.qualities-paragraph {
    color: $secondary-text-color;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}