.nav-icon {
    fill:currentColor;
    margin-right: 10px;
    padding: 0;
}

.closer-icon {
    fill: #000000;
    transition: fill $animation-duration $animation-type;
}

.button-closer:focus-within .closer-icon,
.button-closer:hover .closer-icon {
    fill:#2196F3;
}

.icon-modal {
    position: absolute;

    bottom:0;
    left:0;

    margin-left: 15px;
    margin-top: 14px;
    margin-bottom: 14px;

    color:black;

    cursor: pointer;

    & .icon-input {
        fill:currentColor;
        color: $main-text-color;
        transition: $animation-duration $animation-type;
    }
}

.agreement-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 9px;

    border: 2px solid $main-text-color;
    background-color: $main-bg-color;
    border-radius: 2px;
    transition: $animation-duration $animation-type;
}

.qualit-ico {
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-position: center;
    background-color: $secondary-bg-color;
    background-size: auto;
}

.icon-qual {
    width: 270px;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.icon {
    color: rgba(175,177,184,1);

    fill: currentColor;
    border-radius: 50%;

    transition: $animation-duration $animation-type;
}

.icon-spec:not(:last-child) {
    margin-right: 10px;
}


.icon-spec:hover .icon,
.icon-spec:focus .icon,
.icon-spec:hover .footer-icon,
.icon-spec:focus .footer-icon {
    color: $main-bg-color;
    background-color: $accent-color;
    transition: $animation-duration $animation-type;
}

.footer-icon {
    fill: $main-bg-color;
    border-radius: 50%;
}