.section-direction {
    padding-top: 94px;
    padding-bottom: 94px;
}

.direction-block {
    display: flex;
    position:relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
    cursor: pointer;

    &::before {
        position: absolute;
        content:"";
        width: 100%;
        height: 70px;
    
        bottom:0;
        left: 0;
    
        background-color: rgba(47, 48, 58, 0.8);;
        
        transform: translateY(100%);
    
        transition: transform $animation-duration $animation-type;
    }

    &:hover::before,
    &:focus::before {
    transform: translateY(0%)
    }

    &:hover .direction-text,
    &:hover .direction-text {
    transform: translateY(0%)
    }
}

.direction-text {    
    position: absolute;  
    display: flex;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    justify-content: center;
    align-items: center;

    bottom:0;
    left: 0;
    width: 100%;
    height: 70px;

    text-transform: uppercase;
    color: $main-bg-color;

    transform: translateY(100%);

    transition: transform $animation-duration $animation-type;
}

.direction-block:hover .direction-text,
.direction-block:hover .direction-text {
    transform: translateY(0%)
}
.dir:not(:last-child) {
    margin-right: 30px;
}